<div class="row">
  <div id="alert" style="margin: 0 auto ; position: fixed ; right: 5px ;"></div>

  <div id="alerts-container" class="container" align=right>
    <section id="alerts" class="clear" width="30%">
      <article>
        <div class="alert">
          <h3 id="device"></h3>
          <h3 id="when"></h3>
          <h3 id="ma"></h3>
          <h3 id="actlimit"></h3>
        </div>
      </article>
      <article>
        <div class="alert">
          <h3 id="device"></h3>
          <h3 id="when"></h3>
          <h3 id="ma"></h3>
          <h3 id="actlimit"></h3>
        </div>
      </article>
      <article>
        <div class="alert">
          <h3 id="device"></h3>
          <h3 id="when"></h3>
          <h3 id="ma"></h3>
          <h3 id="actlimit"></h3>
        </div>
      </article>
      <article>
        <div class="alert">
          <h3 id="device"></h3>
          <h3 id="when"></h3>
          <h3 id="ma"></h3>
          <h3 id="actlimit"></h3>
        </div>
      </article>
      <article>
        <div class="alert">
          <h3 id="device"></h3>
          <h3 id="when"></h3>
          <h3 id="ma"></h3>
          <h3 id="actlimit"></h3>
        </div>
      </article>
      <article>
        <div class="alert">
          <h3 id="device"></h3>
          <h3 id="when"></h3>
          <h3 id="ma"></h3>
          <h3 id="actlimit"></h3>
        </div>
      </article>
      <article>
        <div class="alert">
          <h3 id="device"></h3>
          <h3 id="when"></h3>
          <h3 id="ma"></h3>
          <h3 id="actlimit"></h3>
        </div>
      </article>
      <article>
        <div class="alert">
          <h3 id="device"></h3>
          <h3 id="when"></h3>
          <h3 id="ma"></h3>
          <h3 id="actlimit"></h3>
        </div>
      </article>
      <article>
        <div class="alert">
          <h3 id="device"></h3>
          <h3 id="when"></h3>
          <h3 id="ma"></h3>
          <h3 id="actlimit"></h3>
        </div>
      </article>
      <article>
        <div class="alert">
          <h3 id="device"></h3>
          <h3 id="when"></h3>
          <h3 id="ma"></h3>
          <h3 id="actlimit"></h3>
        </div>
      </article>
    </section>
  </div>
</div>