@(keyApi: String, lat: Double, lon: Double)

<script>

  function location(loc) {
    var latLng = new google.maps.LatLng(loc.coords.latitude, loc.coords.longitude);
    console.log('lat:' + latLng.lat() + ' lon:' + latLng.lng());
  }

  function createMap() {
    navigator.geolocation.getCurrentPosition(location, function(error) {
      alert('Geolocation failed: ' + error.code);
    });

    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: @lat, lng: @lon },
      zoom: 10
    });

    $.get('/api/spots', function(spots) {
      var array = spots[0]
      for (var i in array) {
        addBubble(map, array[i]);
      }
    });

    google.maps.event.addListener(map, 'click', function(event) {
      console.log('lat:' + event.latLng.lat() + ' lon:' + event.latLng.lng());
    });
  }

  function addBubble(gmap, spot) {
    spot.marker = new google.maps.Marker({
      position: toLatLng(spot),
      map: gmap,
      animation: google.maps.Animation.DROP,
      title: spot.name
    });
    return spot;
  }

  function toLatLng(spot) {
    return new google.maps.LatLng(spot.location.latitude, spot.location.longitude)
  }

</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=@keyApi&callback=createMap"
type="text/javascript"></script>

<div id="map"></div>